$primary: #152D33;
$secondary: #CAA960;

// gradient
$yellow-gradient:  linear-gradient(180deg, #CAA960 0%, #F3D48E 100%);


// text colors
$white: #FFFFFF;
$yellow: #F3D48E;


// grid
$extra-large: 1199px;
$tablet-bp: 991px;
$mobile-bp: 575px;
