@import "./bootstrap/bootstrap.scss";

@import "vars";
@import "mixins";
@import "vendor/reset";


@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700;800;900&display=swap');



html{
    font-size: 10px;
}

body {
    font-family: 'Nunito', sans-serif;
    color: $white;
    font-size: 1.4rem;
}


*,
*:before,
*:after{
    box-sizing: border-box;
}

a{
    display: block;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}

// blocks
@import "./blocks/header.scss";
@import "./blocks/about-school.scss";
@import "./blocks/btn.scss";
@import "./blocks/about-autor.scss";
@import "./blocks/purpose.scss";
@import "./blocks/price.scss";
@import "./blocks/learning-process.scss";
@import "./blocks/consultation.scss";
@import "./blocks/form.scss";
@import "./blocks/schedule.scss";
@import "./blocks/questions.scss";
