.about__author{
    padding: 10rem 0;
    @include media-breakpoint-down(xl) { 
        padding: 8rem 0;
    }
}


.about__author-title{
    font-weight: 800;
    font-size: 2.7rem;
    line-height: 3.6rem;
    color: $primary;
    text-align: center;
}



.about__author-info{
    margin-top: 5rem;
    flex-direction: row;
    
    @include media-breakpoint-down(xl) { 
        flex-direction: column;
        
        .about__autor-img-wrapper{
            display: flex;
            justify-content: center;
            width: 100%;
            margin-bottom: 2rem;
        }
    }
}
.about__author-text-block{
    color: $primary;
    margin-bottom: 3rem;
    margin-left: 1.5rem;
}

.about__autor-img{
    max-width: 53rem;
    @include media-breakpoint-down(xl){
        margin: 0 auto;
    }
    @include media-breakpoint-down(xl){
        width: 100%;
    }
}
.about__author-text{
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    margin-bottom: 2rem;
    @include media-breakpoint-down(xl){
        font-size: 1.4rem;
    }
}
.about__author-text:nth-child(1){
    max-width: 53.7rem;
}
.about__author-text:nth-child(2){
    padding-left: 3rem;
    @include media-breakpoint-down(xl){
        padding-left: 0;
    }
}
.about__author-text:nth-child(3){
    padding-left: 6rem;
    @include media-breakpoint-down(xl){
        padding-left: 0;
    }
}
.about__author-text:last-child{
    margin-bottom: 0;
}

.about__author-link{
    margin: 0 auto;
}