.btn__submit{
    background: $yellow-gradient;
    font-size: 1.6rem;
    font-weight: 900;
    border-radius: 3.2rem;
    padding: 1.3rem 1.7rem;
    line-height: 2.1rem;
    text-transform: uppercase;
}