.learning__process{
    margin: 10rem 0;
    @include media-breakpoint-down(xl) { 
        margin: 8rem 0 5.5rem 0;
    }
}

.learning__process-title, .schedule__title, .question__title{
    color: $primary;
    font-size: 2.7rem;
    font-weight: 800;
    line-height: 3.6rem;
    text-align: center;
    margin-bottom: 5rem;
}

.learning__process-info-block{
    flex-direction: row;
    @include media-breakpoint-down(xl) { 
        flex-direction: column-reverse;
    }
}

.learning__process-info-item-wrapper{
    // margin-right: 5rem;
    padding-right: 3.5rem;
    @include media-breakpoint-down(xl) { 
        padding-right: 0;
    }
}
.learning__process-info-item{
    width: 26.8rem;
    padding: 2rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: $white;
    line-height: 1.6rem;
    background-color: $primary;
    box-shadow: 0px 0px 15px rgba(21, 45, 51, 0.35);
    border-radius: 7px;
    &:nth-child(2){
        margin-right: 0;
        margin-left: auto;
    }
    // @include breakpoint($tablet-bp){
    //     display: block;
    // }
    @include media-breakpoint-down(xl) { 
        margin-bottom: 2.5rem;   
        width: 56.8rem; 
    }
    @include media-breakpoint-down(md) { 
        width: 100%;
    }
}

.learning__process-info-item-video-block{
    max-width: 95rem;
    @include media-breakpoint-down(xl) {
        margin-bottom: 3rem;
    }
    
    video{
        width: 100%;
        height: auto;
        border-radius: 1rem;
    }
}
.learning__process-info-item-video{
    width: 100%;
}