.price{
    padding: 5rem 0 3rem 0;
    margin-top: -2px;
    background-color: $primary;
}

.price__title{
    font-weight: 800;
    font-size: 2.7rem;
    line-height: 3.6rem;
    color: $white;
    text-align: center;
    margin-bottom: 3rem;
}


// price

.price__block{
    margin-top: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    justify-content: space-between;
    display: none;
    
    &--active{
        display: flex;
        
    }
    @include media-breakpoint-down(xl){
        overflow-x: auto;
        flex-wrap: nowrap;
        justify-content: start;
    }

    .col{
        width: 37rem;
    }
}

.price__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 37rem;
    min-width: 37rem;
    margin-right: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.25);
    border-radius: 7px;
    position: relative;
    &:first-child{
        margin-left: 2rem;
    }
    
    
    &:after{
        content: "";
        display: block;
        position: absolute;
        top: -2rem;
        right: 1rem;
        width: 3.4rem;
        height: 3.5rem;
        background-image: url(/assets/images/dumbbells.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}


.price__block-title{
    color:$white;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.4rem;
    margin-bottom: 2rem;
}

.price__block-cost{
    font-size: 2.2rem;
    color:$white;
    font-weight: 800;
    line-height: 3rem;
    margin-bottom: 3.5rem;
}